* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__browse {
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  /* text-align: right; */
  letter-spacing: 0.03em;
  height: 38px;
  width: 88px;
  /* text-align: center; */
  /* line-height: 38px; */
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 11px;
  position: relative;
}
.header__browse:hover {
  cursor: pointer;
}
.header__browse:hover .drop_block {
  display: block;
}

.header__browse i {
  color: #838383;
}

.header__form {
  display: flex;
  align-items: center;
  margin-left: 37px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.header__input {
  width: 280px;
  height: 38px;
  border: none;
  padding: 10px;
  border-right: 1px solid #e6e6e6;
}

.header__drop {
  position: relative;
}
.header__drop:hover .drop_block {
  display: block;
}

.header__cart {
  margin-right: 26px;
}

.header__search {
  height: 38px;
  width: 38px;
  border: none;
  background: none;
  padding-left: 2px;
  padding-top: 2px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  letter-spacing: 0.03em;
  color: #222222;
  font-weight: 400;
}

.logo__span {
  font-weight: 900;
  color: #f16d7f;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  font-size: 2px;
  margin-left: 7px;
}

.logo__img {
  margin-right: 13px;
}

.button {
  display: inline-block;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.03em;
  padding-left: 19px;
  padding-right: 19px;
  height: 38px;
  line-height: 38px;
}
.button:focus {
  outline: none;
}

.button:hover,
button:hover,
select:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.nav {
  background-color: #ffffff;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;
}
.menu__list:hover .drop_flex {
  display: flex;
}

.menu__link {
  padding: 20px 20px 17px 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
  border-bottom: 3px solid #ffffff;
}
.menu__link.router-link-exact-active {
  border-bottom: 3px solid #ef5b70;
}
.menu__link:hover {
  color: #ef5b70;
  border-bottom: 3px solid #ef5b70;
}

.drop {
  padding: 20px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  top: 55px;
}
.drop__cart {
  top: 34px;
  left: -200px;
}
.drop::after {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  position: absolute;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  top: -7px;
  left: 210px;
  background-color: #ffffff;
}
.drop_browse {
  top: 35px;
  left: 0px;
  text-align: left;
}
.drop_browse::after {
  left: 64px;
}
.drop_sm-pad {
  padding: 20px 17px;
}
.drop__col {
  width: 234px;
  position: relative;
}
.drop__col:not(:last-child) {
  margin-right: 45px;
}
.drop__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.drop__row > a {
  text-align: center;
  flex-basis: 90px;
}
.drop__row img {
  margin-right: 20px;
  max-height: 80px;
  max-width: 80px;
}
.drop__row .remove-btn {
  float: right;
  color: #c0c0c0;
  margin-left: 45px;
}
.drop__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.drop__btn {
  display: block;
  text-align: center;
  padding: 17px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 800;
  color: #4a4a4a;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  margin-top: 11px;
}
.drop__btn:hover {
  background-color: #eaeaea;
  border: 1px solid #000000;
}
.drop__btn_orange {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.drop__btn_orange:hover {
  background-color: #f16d7f;
  color: #ffffff;
  border: 1px solid #f16d7f;
}
.drop__img {
  position: absolute;
  right: 0;
  margin-top: 15px;
}
.drop__h2 {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
}
.drop__h3 {
  font-size: 14px;
  color: #232323;
  line-height: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 9px;
}
.drop__h3:not(:first-child) {
  margin-top: 18px;
}
.drop__h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 12px;
  font-weight: bold;
  color: #222222;
  text-align: right;
  text-transform: uppercase;
}
.drop__cart-p {
  font-size: 12px;
  font-weight: 600;
  color: #f16d7f;
  margin-top: 12px;
  text-align: right;
}
.drop__ul {
  list-style-type: none;
}
.drop__link {
  font-size: 14px;
  color: #646464;
  line-height: 28px;
}
.drop__link:hover {
  text-decoration: underline;
}

.breadcrumbs {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumbs__link:hover {
  text-decoration: underline;
}
.breadcrumbs__link:not(:last-child)::after {
  content: " /";
}
.breadcrumbs__link.router-link-exact-active {
  font-weight: bold;
  color: #f16d7f;
}
.breadcrumbs__link.router-link-exact-active:hover {
  text-decoration: none;
}

.breadcrumbs__h2 {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  line-height: 20px;
  text-transform: uppercase;
}

.promo {
  height: 614px;
  background-color: #e8e8e8;
  background-image: url("../img/promo.png");
  background-repeat: no-repeat;
  background-position: center -51px;
}

.promo__content {
  margin-top: 224px;
  float: left;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.promo__heading {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 33px;
}

.promo__heading_big {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 12px;
}

.division {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 840px;
  margin-top: 100px;
  align-content: space-between;
}

.division__banner {
  width: 560px;
  background-repeat: no-repeat;
  border: 1px solid #dcdcdc;
}

.division__banner_1 {
  height: 542px;
  background-image: url("../img/For_men.jpeg");
  margin-bottom: 20px;
}

.division__banner_2 {
  height: 261px;
  background-image: url("../img/For_women.jpeg");
  order: 2;
  margin-bottom: 20px;
}

.division__banner_3 {
  height: 261px;
  background-image: url("../img/Accesories.jpeg");
  order: 1;
  background-color: #dadad2;
  background-position: 149px -39px;
}

.division__banner_4 {
  height: 542px;
  background-image: url("../img/For_kids.jpeg");
  order: 4;
}

.division__badge {
  background: #ffffff;
  display: inline-block;
  float: left;
  margin-top: 26px;
  padding: 16px 18px;
}

.division__p {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
}

.division__h3 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
}

.featured {
  text-align: center;
  margin-top: 100px;
}

.featured_h3 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 0.03em;
}

.featured__text {
  font-size: 14px;
  color: #9f9f9f;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  margin-top: 6px;
}

.products {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  margin-bottom: 30px;
  transition: transform 0.3s;
}

.products__item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
}

.products__hover {
  position: relative;
}

.products__img {
  width: 261px;
  height: 280px;
  object-fit: none;
  background: #e9e9e9;
}

.products__cart-btn {
  display: none;
}

.products__cart-btn > img {
  margin-right: 8px;
}

.products__cart-btn:hover {
  -webkit-box-shadow: 0 0 15px #fff;
  box-shadow: 0 0 15px #fff;
}

.products__hover:hover .products__cart-btn {
  position: absolute;
  display: flex;
  left: 70px;
  top: 97px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  padding: 7px 12px;
  line-height: 25px;
  border: 1px solid #ffffff;
}

.products__hover:hover .products__img {
  filter: brightness(40%);
}

img[alt=Featured_item_2] {
  object-position: -24px;
}

img[alt=Featured_item_3] {
  object-position: -45px;
}

img[alt=Featured_item_7] {
  object-position: -45px -190px;
}

img[alt=Featured_item_8] {
  background-color: #e9e9e9;
}

.products__name {
  font-size: 14px;
  color: #222222;
  line-height: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 14px;
}

.products__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  text-transform: uppercase;
  text-align: left;
  margin-left: 14px;
  margin-bottom: 20px;
}

.featured__button {
  display: inline-block;
  padding: 0 24px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
  height: 48px;
  line-height: 48px;
}
.featured__button:hover {
  opacity: 0.8;
}

.featured__button i {
  margin-left: 10px;
}

.offer {
  background-color: #222224;
  margin-top: 113px;
  margin-bottom: 20px;
  display: flex;
  margin-bottom: 100px;
}

.offer__img {
  height: 529px;
  background-image: url("../img/Offer_background.jpeg");
  flex: 0 0 767px;
  /* position: relative; */
}

.offer__img img {
  position: absolute;
  opacity: 0.5;
}

.offer__badge {
  color: #ffffff;
  float: left;
  padding-left: 39px;
  padding-top: 146px;
  z-index: 1;
  position: relative;
}

.offer__h1 {
  font-size: 54px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 60px;
}

.offer__h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.offer__right {
  height: 529px;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.offer__row {
  display: flex;
}

.offer__logo {
  float: left;
  flex: 0 0 111px;
  padding-left: 33px;
}

.offer__content {
  padding-right: 26px;
  color: #fbfbfb;
  padding-top: 5px;
}

.offer__h4 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.offer__p {
  padding-top: 14px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.product-main {
  display: flex;
  padding-top: 60px;
  margin-bottom: 110px;
  /* justify-content: space-between; */
}

.aside-menu {
  display: block;
  flex: 0 0 25%;
}

.aside__details {
  margin-bottom: 18px;
}

.aside__summary {
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  line-height: 37px;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #f8f3f4;
  width: 243px;
  padding-left: 11px;
}

.aside__summary::-webkit-details-marker {
  display: none;
}

i.fa-caret-up {
  display: none;
}

.aside__details[open] i.fa-caret-up {
  display: inline;
}

.aside__details[open] .aside__summary {
  color: #ef5b70;
}

.aside__details[open] i.fa-caret-down {
  display: none;
}

.aside__summary:hover {
  cursor: pointer;
}

.aside__summary:focus {
  outline: none;
}

.aside__list {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
  list-style-type: none;
  padding: 20px 16px;
}

.aside__list a {
  color: #6f6e6e;
}

.aside__list a:hover {
  color: #ef5b70;
  text-decoration: underline;
}

.products__filter {
  padding-bottom: 30px;
}

.products__filter {
  display: flex;
  justify-content: space-between;
}

.products__filter > * {
  width: 261px;
}

.filter__h4 {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
  line-height: 37px;
  margin-bottom: 10px;
}

.filter__trending__row {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 176px;
  margin-bottom: 12px;
}

.filter__trending__row p,
.filter__trending__row span {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 14px;
}

.filter__trending__row > span {
  color: #ebebeb;
}

.filter__trending a:hover {
  text-decoration: underline;
}

.filter__size {
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter__size > * {
  width: 25%;
  display: flex;
}

.filter__size input {
  margin-right: 7px;
  height: 14px;
}

.filter__size label {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.filter__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.filter__price > input {
  width: 100%;
  margin-bottom: 7px;
}

.filter__price p {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 14px;
}

.products__sort {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #f3f3f3;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  margin-bottom: 48px;
}

.products__sort__p,
.products__sort__sel {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  height: 30px;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}

.products__sort__p {
  padding: 0 10px 0 10px;
}

.products__sort__sel {
  margin-right: 10px;
  padding: 0 10px 0 10px;
  background-image: #fff;
  /* 	appearance: none;
  background: #ffffff url("img/Product/caret-down-solid.svg") right/50% 50% no-repeat;
  */
}

.products__pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__pages__left {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ebebeb;
  padding: 0 7px;
}

.products__pages__link {
  font-size: 16px;
  font-weight: 700;
  color: #c4c4c4;
  line-height: 44px;
  margin: 0 8px;
}

.products__pages__link:hover {
  text-decoration: underline;
  color: #ef5b70;
}

.products__pages__link-active {
  color: #ef5b70;
}

.products__pages__link:nth-child(8) {
  margin: 0;
  flex-shrink: 0;
}

.products__pages__button {
  display: flex;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  color: #ef5b70;
  line-height: 41px;
  padding: 0 46px;
}

.products__pages__button:hover {
  background-color: #ef5b70;
  color: #ffffff;
}

.states {
  display: flex;
  background-color: #222224;
  padding-top: 90px;
  padding-bottom: 115px;
  justify-content: space-around;
}

.states__col {
  text-align: center;
  width: 315px;
}

.states_h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 23px 0 20px 0;
}

.states_p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.single-jumbotron {
  height: 777px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-jumbotron > img {
  margin-top: -50px;
}

.single-jumbotron__btn {
  height: 100%;
  width: 15%;
  border: none;
  background: #f7f7f7;
}

.single-jumbotron__btn:focus {
  outline: none;
}

.single-jumbotron__btn i {
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 18px;
  color: #ffffff;
  line-height: 47px;
  text-align: center;
  margin-top: -50px;
}

.single-jumbotron__btn:nth-child(1) {
  color: red;
  text-align: left;
}

.single-jumbotron__btn:nth-child(1) i {
  padding-right: 3px;
}

.single-jumbotron__btn:nth-child(3) i {
  padding-left: 4px;
}

.single-jumbotron__btn:nth-child(3) {
  color: red;
  text-align: right;
}

.single-jumbotron__btn:hover {
  background: #efefef;
}

.single-product {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding-left: calc(50% - 322px);
  padding-right: calc(50% - 322px);
  padding-top: 73px;
  padding-bottom: 122px;
  text-align: center;
  margin-top: -86px;
  position: relative;
  z-index: 1;
}

.single__h4 {
  font-size: 14px;
  font-weight: bold;
  color: #2f2f2f;
  text-align: center;
  /* line-height: 24px; */
}

.single__h4 span {
  color: #b9b9b9;
}

.single-product > .single__h4:first-child {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 14px;
  display: inline-block;
}

.bottom-line {
  width: 63px;
  border-bottom: 3px solid #ef5b70;
  margin: -2px auto 0px auto;
  position: relative;
  z-index: 1;
}

.single__h3 {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 67px;
}

.single__description {
  font-size: 14px;
  font-weight: 400;
  color: #5e5e5e;
  text-align: center;
  line-height: 24px;
}

.single__features {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.single__price {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  text-align: center;
  line-height: 24px;
  padding-bottom: 43px;
  border-bottom: 1px solid #eaeaea;
}

.single__params {
  margin-top: 63px;
  display: flex;
  justify-content: space-around;
}

.single__features > h4:first-child {
  margin-right: 44px;
  margin-left: 20px;
}

.single__params .single__h4 {
  text-align: left;
}

.single__select,
.single__input {
  border: 1px solid #eaeaea;
  font-size: 13px;
  color: #bcbcbc;
  line-height: 35px;
  padding-left: 15px;
  width: 144px;
  height: 35px;
  margin-top: 16px;
  margin-bottom: 28px;
}

.single__input {
  appearance: none;
}

.red-square {
  height: 12px;
  width: 12px;
  background-color: #ef5b70;
}

.single__btn {
  font-size: 16px;
  font-weight: bold;
  color: #ef5b70;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  height: 55px;
  width: 572px;
  /* 	display: flex;
  justify-content: center;
  align-items: center; */
}

.single__btn i {
  margin-right: 15px;
}

.single__btn:hover {
  color: #ffffff;
  background-color: #ef5b70;
}

.single__products {
  text-align: center;
  padding-top: 59px;
  padding-bottom: 43px;
}

.single__products__h2 {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 72px;
}

img[alt=single-1],
img[alt=single-3],
img[alt=single-2],
img[alt=single-4] {
  background: #e9e9e9;
}

.subscribe {
  height: 438px;
  background: url("../img/Subscribe_shadow.png"), url("../img/Subscribe_background.jpeg") 0 25% no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  display: flex;
}

.comments {
  display: flex;
  width: 50%;
  margin-top: 111px;
  padding-right: 60px;
}

.comments__icon img {
  border-radius: 50% 50%;
}

.comments__icon {
  margin-right: 28px;
}

.blockquote__text {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.blockquote__authoer {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
  margin-top: 10px;
}

.blockquote__smth {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.cart {
  padding-top: 80px;
  padding-bottom: 70px;
}
.cart__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.cart__heading > * {
  flex: 0 0 80px;
}
.cart__heading > :first-child {
  flex: 0 0 400px;
}
.cart__heading > :not(:first-child) {
  text-align: center;
}
.cart__h5 {
  font-size: 13px;
  font-weight: 900;
  color: #222222;
  letter-spacing: -0.01em;
  line-height: 20px;
  text-transform: uppercase;
}
.cart__item img {
  margin-right: 20px;
  height: 160px;
  flex-basis: 150px;
  object-fit: contain;
}
.cart__item__body {
  padding-top: 13px;
  padding-bottom: 20px;
}
.cart__item__body .cart__h5 {
  margin-bottom: 30px;
}
.cart__item__p {
  font-size: 13px;
  color: #575757;
  line-height: 20px;
  font-weight: 600;
}
.cart__item span {
  font-size: 13px;
  font-weight: 400;
  color: #6f6e6e;
  line-height: 20px;
  padding-left: 5px;
}
.cart__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding-top: 25px;
  padding-bottom: 25px;
}
.cart__row > :not(:first-child) {
  flex: 0 0 80px;
  text-align: center;
}
.cart__row > p {
  font-size: 13px;
  color: #656565;
  line-height: 20px;
  font-weight: 600;
}
.cart__item {
  display: flex;
  flex: 0 0 400px;
}
.cart__inputQty {
  height: 30px;
  width: 54px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  font-weight: 600;
  color: #656565;
  line-height: 20px;
  text-align: center;
}
.cart__inputQty:focus {
  outline: none;
}
.cart__buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 60px;
}
.cart__button {
  color: #4a4a4a;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.cart__button a {
  color: #ffffff;
}
.cart__button_bg {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  padding: 18px 38px;
}
.cart__button_sm {
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  padding: 12px 15px;
}
.cart__button:hover {
  background-color: #eaeaea;
}
.cart__bottom {
  display: flex;
  justify-content: space-between;
}
.cart__bottom > * {
  flex: 1 1 0;
}
.cart__bottom > :not(:last-child) {
  margin-right: 35px;
}
.cart__select, .cart__input {
  border: 1px solid #eaeaea;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 17px;
  padding-right: 17px;
  line-height: 45px;
  width: 100%;
  margin-bottom: 20px;
}
.cart__input::placeholder {
  color: #b1b1b1;
}
.cart__select {
  margin-top: 20px;
  height: 45px;
  appearance: none;
  background-image: url("../img/caret-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px top 50%;
  background-size: 10px;
}
.cart__h3 {
  font-size: 16px;
  font-weight: 900;
  color: #222222;
  text-transform: uppercase;
}
.cart__p {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  line-height: 14px;
}
.cart__coupon .cart__p {
  margin-top: 28px;
  margin-bottom: 25px;
}
.cart__coupon .cart__input {
  margin-bottom: 25px;
}
.cart__total {
  background-color: #f5f3f3;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 224px;
}
.cart__total .cart__p {
  font-size: 13px;
  line-height: 13px;
}
.cart__total .cart__p,
.cart__total .cart__h3 {
  display: inline-block;
  width: calc(100% - 80px);
  text-align: right;
}
.cart__total .cart__p span,
.cart__total .cart__h3 span {
  margin-left: 15px;
}
.cart__total .cart__h3 {
  margin-top: 14px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e2e2e2;
}
.cart__total button {
  text-align: center;
  width: calc(100% - 80px);
  margin-top: 17px;
  position: relative;
  display: inline-block;
}
.cart__total button:hover {
  background-color: #f16d7f;
}
.cart__total button:before {
  content: "";
  position: absolute;
  border: white solid 3px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  transition: opacity 0.4s;
}
.cart__total button:hover:before {
  opacity: 1;
}

.remove-btn {
  border: none;
  background-color: #ffffff;
  color: #656565;
  transition: all 0.5s;
}
.remove-btn:hover {
  color: red;
  transform: scale(1.5);
}

.accordion__hidden-radio {
  display: none;
}
.accordion__hidden-radio:checked ~ .accordion__content.accordion__big {
  height: 480px;
}
.accordion__hidden-radio:checked ~ .accordion__content.accordion__medium {
  height: 100px;
}
.accordion__heading-label {
  font-size: 16px;
  line-height: 74px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
}
.accordion__content {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height, 0.8s;
  background-color: #ffffff;
  padding-left: 35px;
  border-bottom: 1px solid #e8e8e8;
}
.accordion__flex {
  display: flex;
}
.accordion__right, .accordion__left {
  flex: 0 0 50%;
  padding-top: 20px;
}
.accordion__left .accordion__p:first-of-type {
  margin-bottom: 34px;
}
.accordion__left .accordion__label {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
}
.accordion__right .accordion__p:first-of-type {
  margin-bottom: 24px;
}
.accordion__right input {
  margin-bottom: 22px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  color: #b3b2b2;
  line-height: 45px;
  height: 45px;
  width: 390px;
  padding: 0 12px;
}
.accordion__right .accordion__h4:last-child {
  display: inline-block;
  text-transform: none;
}
.accordion__h4 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}
.accordion .mt {
  margin-top: 15px;
}
.accordion .mb {
  margin-bottom: 33px;
}
.accordion__p {
  font-size: 13px;
  line-height: 13px;
  color: #b3b2b2;
}
.accordion__p i {
  font-weight: 600;
}
.accordion__label {
  font-size: 12px;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
}
.accordion__button {
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-top: 38px;
  background-color: #ffffff;
  padding: 19px 53px;
  margin-right: 32px;
}
.accordion__button:hover {
  background-color: #eaeaea;
}

.subscribe__right {
  text-align: center;
  margin: 148px auto 0 auto;
}

.subscribe__h3 {
  font-size: 24px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.subscribe__p {
  font-size: 14px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.subscribe__input {
  margin-top: 35px;
  background-color: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  font-size: 14px;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 46px;
  border: 0;
  padding: 0 28px;
  width: 330px;
}
.subscribe__input:focus {
  outline: none;
}

.subscribe__button {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 46px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  height: 46px;
  padding: 0 20px;
  margin-left: -3px;
  border: none;
}

.site-map {
  display: flex;
  margin-bottom: 100px;
  margin-top: 100px;
  /* justify-content: space-between; */
}

.site-map__p {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.site-map__menu {
  flex: 1 1 0;
}

.site-map__company {
  flex-basis: 430px;
  margin-right: 60px;
}

.site-map__h4 {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.site-map__ul {
  list-style-type: none;
  margin-top: 42px;
}

.site-map__link {
  font-size: 16px;
  color: #898989;
  letter-spacing: 0.03em;
  line-height: 44px;
}

.site-map__link:hover {
  color: #f16d7f;
  text-shadow: 1px 1px;
}

.footer {
  height: 80px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
}

.footer__p {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
  line-height: 80px;
}

.footer__links {
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.footer__social {
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-left: 8px;
  transition: transform 0.5s;
}

.footer__social:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
  transform: rotate(360deg);
  transition: transform 1s;
}

.orange-color {
  color: #f16d7f;
}

.orange-bg-color {
  background-color: #f16d7f;
  color: #ffffff;
}

.relative {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
